/*
Style Name: CSS GRID Review 
Description: Class File
Author: Your Name 
Version: 1.0
Tags: GRID, Build, Be Awesome
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Fonts
-------------- */

/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input,
textarea {
	display: block;
	margin: 0;
	padding: 0;
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02. CSS Grid                          
/* _____________________________________

   01. General Styles
   _____________________________________ */

.hidden {
	display: none;
}

.box-model {
	margin: 1rem;
	padding: 1rem;
	background: #000;
}

/*------- Floats --------*/

.f-left {
	float: left;
}

.f-right {
	float: right;
}

/*------- End Floats --------*/

/*------- Start Margin --------*/
.margin-top-sm {
	margin-top: 50px;
}

/*------- End Margin --------*/

/*------- Mobile Padding ---------*/

.mobile-padding {
	padding: 0 1em;
}

/*------- End Mobile Padding ---------*/

@supports (grid-area: auto) {
	/*------------ Start Mobile ------------*/

	.site {
		max-width: 799px;
		min-width: 400px;
	}

	/*------------ Mobile Grid Items ------------*/

	.head,
	.main > *,
	.foot {
		display: grid;
		grid-template-columns: 40px 1fr 1fr 40px;
	}

	.one-item {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.three-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.custom-override {
		display: grid;
		grid-column: 1 / span 4;
		grid-template-columns: 1fr;
	}

	.logo {
		grid-column: 1 / span 1;
	}

	.nav {
		grid-column: 2 / span 1;
	}

	/*------------ Mobile Header ------------*/
	.nav-bar {
		padding-top: 50px;
	}

	.nav-bar img {
		width: 150px;
	}

	nav {
		display: none;
	}

	/*------------ Mobile Home ------------*/

	.address-and-headline p {
		font-size: 2em;
		width: 70vw;
	}

	.brand-video {
		background: #000;
		height: 30vh;
		grid-column: 1 / span 4;
	}

	.team-description {
		padding: 7em 7em;
		text-align: center;
		background: #032b4476;
		color: #000;
		height: auto;
	}

	.our-services-text h3 {
		font-size: 2em;
	}

	.services-block {
		height: 120px;
		background-color: grey;
	}

	.testimonial-block img {
		width: 70vw;
	}

	/*------------ End Mobile ------------*/

	/*------------ Mobile Contact -----------*/
	.f-right {
		display: grid;
		grid-column: 3 / span 1;
	}

	div.contact-us {
		display: grid;
		grid-column: 1 / span 1;
		justify-content: center;
		margin-left: -16px;
	}

	h2.contact-us {
		margin-top: 4em;
	}

	.contact-us-headline {
		margin-top: 0.5em;
		width: 10em;
		font-size: 2em;
	}

	.contact-form {
		display: grid;
		grid-column: 1 / span 2;
		margin-top: 5em;
		margin-left: 2.5em;
	}

	.main-form-text {
		margin-bottom: 1em;
		font-size: 2em;
		margin-top: 0.5em;
	}

	#name,
	#email,
	#message {
		margin-top: 0.5em;
		margin-bottom: 1em;
		width: 25.5em;
		height: 4em;
	}

	/* ------------ Mobile Contact End ---------- */

	/* ------------ Mobile Portfolio Start ---------- */

	/*------------ Start Tablet ------------*/

	@media screen and (min-width: 800px) {
		.site {
			max-width: 999px;
		}

		/*------------ Grid Items ------------*/

		.head,
		.main > *,
		.foot {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 20em)) 1fr;
		}

		.one-item {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: 1fr;
		}

		.two-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.three-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(3, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.four-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(4, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		/*------------  End Grid Items ------------*/

		.nav {
			grid-column: 2 / span 3;
		}

		/*------------ Tablet Home ------------*/

		.team-description p {
			font-size: 1.5em;
		}

		.services-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		/* --------- Tablet Contact --------------*/

		div.contact-us {
			display: grid;
			grid-column: 1 / span 2;
			justify-content: start;
			margin-left: 2.5em;
		}

		.contact-us-headline {
			width: 21em;
		}

		#name,
		#email,
		#message {
			width: 40em;
		}

		#message {
			height: 10em;
		}
	}

	@media screen and (min-width: 1000px) {
		/*------------ Desktop Home ------------*/

		.head,
		.main > *,
		.foot {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
		}

		nav {
			display: grid;
			margin-top: 2em;
		}

		nav ul li {
			display: inline;
			margin-left: 1.5em;
			font-size: 1.5em;
		}

		.address-and-headline h3 {
			font-size: 1.5em;
		}

		.address-and-headline p {
			font-size: 2.5em;
			width: 35vw;
		}

		.team-description {
			margin-top: -10em;
			padding: 18em 20em 10em 20em;
		}

		.team-description p {
			font-size: 2em;
		}
	}

	/* ------------ Portfolio page starts ------------*/

	.our-work-and-description {
		display: grid;
		grid-column: 1 / span 4;
	}

	#portfolio-peices {
		display: grid;
		grid-column: 1 / span 4;
	}

	#our-partners {
		display: grid;
		grid-column: 1 / span 4;
	}

	/* ------ Contact page starts ------*/

	div.contact-us {
		display: grid;
		justify-content: center;
		margin-left: -18em;
	}

	.contact-us-headline {
		width: 14em;
		font-size: 3em;
	}

	.contact-form {
		display: grid;
		justify-content: center;
		margin-left: -26em;
	}
}
