/*
Style Name: CSS GRID Review 
Description: Class File
Author: Your Name 
Version: 1.0
Tags: GRID, Build, Be Awesome
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
Fonts
-------------- */

/* ------------ */

/* -------------
Plugins
-------------*/

/* -------------
Reset
-------------*/

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

input,
textarea {
	display: block;
	margin: 0;
	padding: 0;
}

/* ___________________________________________

	CSS Guide
___________________________________________ */

/* 01. General Styles                        
02. CSS Grid                          
/* _____________________________________

01. General Styles
   _____________________________________ */

.hidden {
	display: none;
}

.box-model {
	margin: 1rem;
	padding: 1rem;
	background: #000;
}

/*------- Floats --------*/

.f-left {
	float: left;
}

.f-right {
	float: right;
}

/*------- End Floats --------*/

/*------- Start Margin --------*/
.margin-top-sm {
	margin-top: 50px;
}

.margin-top-md {
	margin-top: 100px;
}

/*------- End Margin --------*/

/*------- Mobile Padding ---------*/

.mobile-padding {
	padding: 0 1em;
}

/*------- End Mobile Padding ---------*/

@supports (grid-area: auto) {
	/*------------ Start Mobile ------------*/

	.site {
		max-width: 799px;
		min-width: 400px;
	}

	/*------------ Mobile Grid Items ------------*/

	.head,
	.main > *,
	.foot {
		display: grid;
		grid-template-columns: 40px 1fr 1fr 40px;
	}

	.one-item {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.three-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.four-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.custom-override {
		display: grid;
		grid-column: 1 / span 4;
		grid-template-columns: 1fr;
	}

	.logo {
		grid-column: 1 / span 1;
	}

	.nav {
		grid-column: 2 / span 1;
	}

	/* ----------- Mobile Grid Items Ends ---------- */

	/*------------ Mobile Header ------------*/
	.nav-bar {
		padding-top: 50px;
	}

	.nav-bar img {
		width: 150px;
	}

	nav {
		display: none;
	}

	/* ----------- Mobile Header Ends ------------ */

	/*------------ Mobile Footer ------------*/

	footer {
		background-color: #032b44;
		color: white;
		padding-bottom: 5em;
	}

	.footer-cta {
		text-align: center;
	}

	.footer-cta h3 {
		font-size: 2em;
	}

	.button-dark {
		color: white;
		border: 1px solid white;
		width: 10em;
		padding: 1em 0;
		margin: 2em auto 5em;
	}

	.button-dark:hover {
		background-color: white;
		color: black;
	}

	/* ---------- Mobile Footer Ends ----------- */

	/*------------ Mobile Home ------------*/

	.address-and-headline p {
		font-size: 2em;
		width: 70vw;
		font-weight: 600;
		margin-top: 1em;
	}

	.brand-video {
		background: #000;
		grid-column: 1 / span 4;
	}

	.brand-video video {
		width: 100%;
	}

	.team-description {
		padding: 3em;
		text-align: center;
		background: #04d89c1c;
		color: #000;
		height: auto;
		z-index: -1;
	}

	.team-description p {
		margin-bottom: 1em;
	}

	.team-description a {
		color: black;
		text-decoration: underline;
		z-index: +1;
	}

	.our-services-text h3 {
		font-size: 2em;
	}

	.services-block {
		grid-template-columns: 1fr;
		font-size: 2em;
	}

	.block-hover:hover {
		background-color: #04d89c1c;
	}

	.services-block h4 {
		padding: 1em 20vw;
	}

	.services-block img {
		width: 30%;
		filter: grayscale(1);
		padding: 2em 30vw;
	}

	.testimonial {
		display: none;
	}

	/* ------------ Mobile Home Ends ------------ */

	/* ------------ Mobile Team ------------ */

	.team-heading p {
		font-size: 2em;
	}

	.team-card img {
		width: 100%;
	}

	.team-card h3 {
		font-size: 2em;
		font-weight: 600;
		margin-top: 0.5em;
	}

	.team-card p {
		font-size: 1.1em;
		margin-bottom: 2em;
		margin-top: 0.5em;
	}

	.mobile-hide {
		display: none;
	}

	/* ----------- Mobile Team End ------------ */

	/* ---------- Mobile Case -------------- */

	.case-photos {
		width: 100%;
		height: 30em;
		object-fit: cover;
		margin-top: 6em;
	}

	.case-block p {
		margin-top: 1em;
	}

	/* ------------ Mobile Case Ends ----------- */

	/* ------------ Mobile Contact ----------- */
	.f-right {
		display: none;
	}

	div.contact-us {
		display: grid;
		grid-column: 1 / span 2;
		justify-content: center;
		margin-left: -3em;
	}

	h2.contact-us {
		margin-top: 4em;
		font-size: 1.3em;
	}

	.contact-us-headline {
		margin-top: 0.5em;
		width: 9em;
		font-size: 2em;
	}

	.contact-form {
		display: grid;
		grid-column: 1 / span 2;
		margin-top: 5em;
		margin-left: 2.7em;
	}

	.main-form-text {
		margin-bottom: 1em;
		font-size: 2em;
		margin-top: 0.5em;
	}

	label {
		font-size: 1.2em;
	}

	#name,
	#email,
	#message {
		margin-top: 0.5em;
		margin-bottom: 1em;
		width: 25.5em;
		height: 4em;
	}

	#message {
		height: 8em;
	}

	#button {
		margin-left: 8.5em;
		margin-top: 1em;
	}

	.contact-us-footer {
		display: grid;
		grid-column: 1 / span 2;
		justify-content: center;
		margin-left: -4em;
	}

	.have-a-project-in-mind {
		font-size: 1.3em;
	}

	button {
		margin-bottom: 7em;
		margin-top: 1em;
		margin-left: 8.4em;
		width: 8em;
		height: 3em;
	}

	/* ------------ Mobile Contact End ---------- */

	/* ------------ Mobile Portfolio ---------- */

	.our-work-and-description {
		grid-column: 1 / span 3;
		font-size: 1.3em;
		margin-left: 1.8em;
		margin-top: 4em;
		margin-bottom: 6em;
		width: 15em;
	}

	.our-work {
		margin-bottom: 1.5em;
	}

	.description {
		width: 15em;
	}

	#portfolio-peices {
		display: grid;
		grid-column: 1 / span 3;
	}

	.piece-1,
	.piece-2,
	.piece-3 {
		margin-left: 1.4em;
		margin-bottom: 4em;
	}

	.project-1,
	.project-2,
	.project-3 {
		margin-bottom: 1em;
		font-size: 1.5em;
	}

	.description,
	.description-2,
	.description-3 {
		margin-bottom: 1em;
		font-size: 1em;
		width: 24em;
	}

	.have-a-project-in-mind {
		margin-top: 4.5em;
		margin-left: 3em;
	}

	button {
		margin-left: 9em;
		margin-top: 4em;
	}

	.address-info {
		width: 9em;
		margin-bottom: 2em;
		margin-left: 2em;
	}

	.number-and-email {
		margin-left: 2em;
	}

	.number {
		margin-bottom: 0.5em;
	}

	/* ----------- Mobile Portfolio Ends ------------ */

	/*------------ Start Tablet ------------*/

	@media screen and (min-width: 800px) {
		.site {
			max-width: 999px;
		}

		/*------------ Grid Items ------------*/

		.head,
		.main > *,
		.foot {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 20em)) 1fr;
		}

		.one-item {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: 1fr;
		}

		.two-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.three-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(3, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.four-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(4, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		/*------------  End Grid Items ------------*/

		.nav {
			grid-column: 2 / span 3;
		}

		/*------------ Tablet Home ------------*/

		.team-description p {
			font-size: 1.5em;
		}

		.services-block h4 {
			padding: 1em 1em;
		}

		.services-block img {
			padding: 1em 3em;
		}

		.testimonial {
			display: none;
		}

		.services-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		/* --------- Tablet Home Ends ---------- */

		/* --------- Tablet Team ---------- */

		.team-pics {
			grid-template-columns: 1fr 1fr;
		}

		/* --------- Tablet Team Ends ---------- */

		/* --------- Tablet Contact --------------*/

		div.contact-us {
			display: grid;
			grid-column: 1 / span 2;
			justify-content: start;
			margin-left: 5em;
		}

		.contact-form {
			margin-left: 5em;
		}

		.contact-us-headline {
			width: 21em;
		}

		#name,
		#email,
		#message {
			width: 40em;
		}

		#message {
			height: 10em;
		}

		.have-a-project-in-mind {
			margin-left: 4.6em;
		}

		#button {
			margin-left: 0;
		}

		button {
			margin-left: 19.2em;
			margin-top: 2em;
		}

		/* ------------ Tablet Contact Ends ------------- */

		/* --------- Tablet Portfolio ----------- */

		.our-work-and-description {
			grid-column: 1 / span 4;
			margin-left: 3.5em;
		}

		.our-work {
			font-size: 2em;
		}

		#portfolio-peices {
			grid-column: 1 / span 4;
			margin-left: 2.5em;
		}

		.piece-2 {
			grid-column: 2 / span 1;
			display: grid;
			margin-left: 5em;
			margin-top: 18em;
			margin-bottom: 9em;
		}

		.piece-3 {
			display: grid;
			grid-column: 1 / span 2;
			width: 18em;
		}

		.description-headline {
			margin-left: 12.7em;
			position: relative;
			top: -5.3em;
			width: 21.2em;
		}

		.description,
		.description-2,
		.description-3 {
			width: 18em;
		}

		button {
			margin-left: 11.6em;
		}
		/* ---------- Tablet Portfolio Ends ----------- */
	}

	@media screen and (min-width: 1000px) {
		/* ------------ Desktop Home Grid Ends ------------ */

		.head,
		.main > *,
		.foot {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
		}

		/* --------- Desktop Home Grid Ends ---------- */

		/*------------ Desktop Nav ------------*/

		nav {
			display: grid;
			margin-top: 2em;
		}

		nav ul li {
			display: inline;
			margin-left: 1.5em;
			font-size: 1.5em;
		}

		nav ul li a {
			color: #000;
		}

		.button {
			padding: 0.5em 1em;
			border: 1px solid black;
		}

		.button:hover {
			color: white;
			border: none;
			background-color: #04d89d;
		}

		/* --------- Desktop Nav Ends ---------- */

		/*------------ Mobile Footer ------------*/

		.footer-cta {
			text-align: left;
		}

		.footer-cta h3 {
			font-size: 3em;
			font-weight: 600;
		}

		.button-dark {
			width: 13em;
			padding: 1em 0;
			margin: 2em 0 5em;
			text-align: center;
		}

		.address-info p {
			font-size: 1.2em;
		}

		/* -------- Mobile Footer Ends --------- */

		/* -------- Desktop Home -------- */

		.address-and-headline h3 {
			font-size: 1.5em;
		}

		.address-and-headline p {
			font-size: 2.5em;
			width: 35vw;
		}

		.team-description {
			margin-top: -10em;
			padding: 18em 20em 10em 20em;
		}

		.team-description p {
			font-size: 2em;
		}

		.team-description {
			margin-top: -5em;
		}

		.team-description p {
			font-size: 2em;
			margin-bottom: 1em;
			max-width: 900px;
			justify-self: center;
			margin-top: 5em;
		}

		.services-block h4 {
			padding: 2em 3em 1em;
		}

		.services-block img {
			padding: 2em 5em 1em;
		}

		.testimonial {
			display: grid;
		}

		.test-slider {
			display: grid;
			grid-template-columns: 1fr 6fr 1fr;
		}

		.arrow {
			height: 2em;
			margin: auto auto;
			stroke-width: 2em;
		}

		.slider-block {
			display: inline;
		}

		.slider-block img {
			width: 15em;
			height: 15em;
			border-radius: 20em;
			object-fit: cover;
		}

		.slider-block p {
			float: right;
			width: 25em;
			text-align: center;
			margin-top: 5em;
			margin-left: 3em;
		}

		/* -------- Desktop Home Ends --------- */

		/* --------- Desktop Team ---------- */

		.team-pics {
			grid-template-columns: repeat(4, 1fr);
		}

		.team-card {
			filter: grayscale(1);
			opacity: 0.8;
		}

		.team-card:hover {
			filter: none;
			opacity: 1;
			transition: all 0.8s ease;
		}

		.team-card img {
			height: 30em;
			object-fit: cover;
		}

		.team-card p,
		.team-card h3,
		.team-card h4 {
			display: none;
		}

		.detail-text span {
			font-size: 2em;
		}

		.detail-text p {
			grid-column: 2 / span 2;
			font-size: 1.5em;
		}

		.mobile-hide {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: 1fr;
		}

		.hidden {
			display: none;
		}

		/* --------- Desktop Team Ends --------- */

		/* -------- Desktop Case -------- */

		.case-photos {
			width: 100%;
			height: 30em;
			object-fit: cover;
			margin-top: 6em;
		}

		.case-block {
			max-width: 40em;
			margin: 0 auto;
		}

		.case-block p {
			max-width: 35em;
			margin: 1.2em auto 0;
		}

		/* -------- Desktop Case Ends --------- */

		/* ------------ Portfolio page starts ------------*/

		.our-work-and-description {
			margin-left: 22em;
		}

		.description-headline {
			margin-left: 15em;
		}

		.description-headline {
			width: 30em;
		}

		#portfolio-peices {
			margin-left: 27em;
		}

		.description,
		.description-2,
		.description-3 {
			width: 23em;
		}

		.have-a-project-in-mind {
			margin-left: 5px;
		}

		button {
			margin-left: 5px;
		}

		/* ------ Contact page starts ------*/

		div.contact-us {
			margin-left: 29em;
		}

		.contact-us-headline {
			width: 12em;
		}

		.contact-form {
			margin-left: 29em;
		}

		#name,
		#email {
			width: 30em;
		}

		#button {
			width: 10em;
			height: 3.5em;
		}

		.contact-us-footer {
			margin-left: -46.5em;
		}

		.address-info,
		.number-and-email {
			margin-left: 29.5em;
		}
	}
}
