/*
Style Name: CSS GRID Review 
Description: Class File
Author: Your Name 
Version: 1.0
Tags: GRID, Build, Be Awesome
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Fonts
-------------- */


/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input, textarea {
	display: block;
	margin: 0;
	padding: 0;
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02. CSS Grid                          
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
       display: none;
   }

   .box-model {
	   margin: 1rem;
	   padding: 1rem;
	   background: #000;
   }

   /*------- Floats --------*/

   .f-left {
	   float: left;
   }

   .f-right {
	   float: right;
   }

   /*------- End Floats --------*/

   /*------- Start Margin --------*/
   .margin-top-sm {
	margin-top: 50px;
   }

   .margin-top-md {
	margin-top: 100px;
   }

   /*------- End Margin --------*/






   /*------- Mobile Padding ---------*/

   .mobile-padding {
	   padding: 0 1em;
   }

   /*------- End Mobile Padding ---------*/

   @supports (grid-area: auto) {

	/*------------ Start Mobile ------------*/

	.site {
		max-width: 799px;
		min-width: 400px;
	}

	/*------------ Mobile Grid Items ------------*/

	.head, .main > *, .foot {
		display: grid;
		grid-template-columns: 40px 1fr 1fr 40px;
	}

	.one-item {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items {
		display: grid;
		grid-column: 2/ span 2;
		grid-template-columns: 1fr;
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.three-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.four-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.custom-override {
		display: grid;
		grid-column: 1 / span 4;
		grid-template-columns: 1fr;
	}

	.logo {
		grid-column: 1 / span 1;
	}

	.nav {
		grid-column: 2 / span 1;
	}

	/*------------ Mobile Header ------------*/
	.nav-bar {
		padding-top: 50px;
	}

	.nav-bar img{
		width: 150px;

	}
	
	nav {
		display: grid;
		margin-top: 2em;
	}

	nav ul li {
		display: inline;
		margin-left: 1.5em;
		font-size: 1em;
	}

	nav ul li a{
		color: #000;
	}

	/*------------ Mobile Footer ------------*/

	footer {
		background-color: #032b44;
		color: white;
		padding-bottom: 5em;
	}

	.footer-cta {
		text-align: center;
	}

	.footer-cta h3 {
		font-size: 2em;
	}
	
	.button-dark {
		color: white;
		border: 1px solid white;
		width: 10em;
		padding: 1em 0;
		margin: 2em auto 5em;
	}

	.button-dark:hover {
		background-color: white;
		color: black;
		transition: all 0.6s ease;
	}


	/*------------ Mobile Home ------------*/

	.address-and-headline p{
		font-size: 2em;
		width: 70vw;
		font-weight: 600;
		margin-top: 1em;
	}

	.address-and-headline span {
		margin-top: 2em;
		font-weight: 500;
	}

	.brand-video {
		background: #000;
		grid-column: 1 / span 4;

	}

	.brand-video video {
		width: 100%;
	}
	
	.team-description {
		padding: 3em;
		text-align: center;
		background: #04d89c1c;
		color: #000;
		height: auto;
		z-index: -1;
	}

	.team-description p {
		margin-bottom: 1em;
	}

	.team-description a {
		color: black;
		text-decoration: underline;
		z-index: +1;
	}

	

	.our-services-text h3 {
		font-size: 2em;
	}

	.services-block {
		grid-template-columns: 1fr;
		font-size: 2em;	
	}

	.block-hover:hover{
		background-color: #04d89c1c;
		transition: all 0.6s ease;
		transform: scale(1.1);
		border-radius: 1em;

	}

	.services-block h4 {
		padding: 1em 20vw;
	}

	.services-block img {
		width: 30%;
		filter: grayscale(1);
		padding: 2em 30vw;
	}


	.testimonial {
		display: none;
	}

	.mobile-hide-lightbox {
		display: none;
	}


	/*------------ Mobile Team ------------*/

	.team-heading p {
		font-size: 2em;
	}

	.team-card img {
		width: 100%;
	}

	.team-card h3{
		font-size: 2em;
		font-weight: 600;
		margin-top: 0.5em;
	}

	.team-card p {
		font-size: 1.1em;
		margin-bottom: 2em;
		margin-top: 0.5em;

	}

	.mobile-hide {
		display: none;
	}


	/*------------ Mobile Case ------------*/

	.case-photos {
		width: 100%;
		height: 30em;
		object-fit: cover;
		margin-top: 6em;
	}

	.case-block p {
		margin-top: 1em;
	}

	/*------------ Mobile Porfolio ------------*/

	.project-block h3 {
		font-size: 2em;
		margin-bottom: 1em;
		font-weight: 600;
	}

	.project-block p {
		margin-bottom: 1em;
	}

	.project-block a {
		color: #04d89d;
	}

	.project-block img{
		width: 100%;
		height: 30em;
		object-fit: cover;
	}

	/*------------ Mobile Contact ------------*/

	.contact-bg {
		padding: 3em 0;
		background-color: #04d89c1c;
	}

	.contact-form label{
		font-size: 1.3em;
	}

	.contact-form h3 {
		margin-bottom: 2em;
		font-size: 2em;
	}

	.contact-form input {
		margin: 1em 0;
		width: 100%;
		height: 3em;
		border: none;
	}

	#message {
		height: 10em;
	}

	.contact-form button {
		color: white;
		background-color: #04d89d;
		border: none;
		margin: 1em 20em;
		padding: 0.8em 2em;
		
	}




	.hidden {
		display: none;
	}
	/*------------ End Mobile ------------*/
	/*------------ Start Tablet ------------*/

   @media screen and (min-width: 800px) {

		.site {
			max-width: 999px;
		}

		/*------------ Grid Items ------------*/

		.head, .main > *, .foot {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 20em)) 1fr;
		}

		.one-item {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: 1fr;
		}

		.two-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.three-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(3, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.four-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(4, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		/*------------  End Grid Items ------------*/

		.nav {
			grid-column: 2 / span 3;
		}

		/*------------ Tablet Home ------------*/
		
		.team-description p {
			font-size: 1.5em;
		}

		.services-block h4 {
			padding: 1em 1em ;
		}
	
		.services-block img {
			padding: 1em 3em ;
		}

		.testimonial {
			display: none;
		}

		.mobile-hide-lightbox {
			display: none;
		}

		/*------------ Tablet Team ------------*/

		.team-pics{
			grid-template-columns: 1fr 1fr;
		}

		.hidden {
			display: none;
		}


		/*------------ Tablet Porfolio ------------*/

		.project-block div {
			margin-top: 3em;
		}
		.project-block img{
			width: 100%;
			height: 20em;
			object-fit: cover;
		}

		.project-block p {
			width: 80%;
		}

		#reverse-order img{
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}

		#reverse-order div{
			grid-column: 2 / span 1;
			padding-left: 5em;
		}

		/*------------ Tablet Contact ------------*/

		.contact-form button {
			margin-left: 0;
			font-size: 1.2em;
			padding: 0.7em 3em;
		}

		.contact-form input {
			width: 90%;
		}



	}

	/*------------ End Tablet------------*/

	/*------------ Start Desktop ------------*/


	@media screen and (min-width: 1000px) {
	
		.head, .main > *, .foot {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
		}

		/*------------ Desktop Nav ------------*/

		nav {
			display: grid;
			margin-top: 2em;
		}

		nav ul li {
			display: inline;
			margin-left: 1.5em;
			font-size: 1.5em;
		}

		nav ul li a{
			color: #000;
		}

		.button {
			padding: 0.5em 1em;
			border: 1px solid black;
		}

		.button:hover {
			color: white;
			border: none;
			background-color: #04d89d;
			transition: all 0.6s ease;

		}

	/*------------ Desktop Footer ------------*/

		.footer-cta {
			text-align:left;
		}

		.footer-cta h3 {
			font-size: 3em;
			font-weight: 600;
		}
		
		.button-dark {
			width: 13em;
			padding: 1em 0;
			margin: 2em 0 5em;
			text-align:center;
		}

		.address-info p {
			font-size: 1.2em;
		}




		/*------------ Desktop Home ------------*/

		.address-and-headline h3 {
			font-size: 1.5em;
		}

		.address-and-headline p {
			font-size: 2.5em;
			width: 35vw;
		}

		.team-description {
			margin-top: -5em;
		}

		.team-description p {
			font-size: 2em;
			margin-bottom: 1em;
			max-width: 900px;
			justify-self: center;
			margin-top: 5em;
		}

		.services-block h4 {
			padding: 2em 3em 1em;
		}

		.services-block img {
			padding: 2em 5em 1em;
		}

		.testimonial {
			display: grid;
		}

		.test-slider {
			display: grid;
			grid-template-columns: 1fr 6fr 1fr;
		}

		.arrow {
			height: 2em;
			margin: auto auto;
			stroke-width: 2em;
		}

		.slider-block {
			display: inline;
		}

		.slider-block img {
			width: 15em;
			height: 15em;
			border-radius: 20em;
			object-fit: cover;
		}

		.slider-block p {
			float: right;
			width: 25em;
			text-align: center;
			margin-top: 5em;
			margin-left: 3em;
		}

		.lightbox {
			position: fixed;
			z-index: +1;
			top: 30%;
			left: 25%;
			width: 50%;
			height: 50%;
			background-color: #ecfffb;
			align-items: center;
			justify-items: center;
			padding: 0 auto;
			box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.332);
			border-radius: 1em;
			text-align: center;
		}

		.lightbox div {
			width: 70%;
			margin: 5em auto;
		}

		.lightbox span {
			font-size: 3em;
			font-weight: 700;
		}

		.lightbox p {
			margin-top: 2em;
			font-size: 2em;
		}

		.mobile-hide-lightbox {
			display: block;
		}

		/*------------ Desktop Team ------------*/

		.team-pics{
			grid-template-columns: repeat(4, 1fr);
		}

		.team-card {
			filter: grayscale(1);
			opacity:0.8;
		}

		.team-card:hover {
			filter: none;
			opacity:1;
			transform: scale(1.1);
			transition: all 0.8s ease;
		}

		.team-card img {
			height: 30em;
			object-fit:cover;
		}

		.team-card p, .team-card h3, .team-card h4{
			display: none;
		}

		.detail-text span{
			font-size: 2em;
		}

		.detail-text p {
			grid-column: 2 / span 2;
			font-size: 1.1em;
		}

		.mobile-hide {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: 1fr;
		}
		
		.hidden {
			display: none;
		}
	
	
	
		/*------------ Desktop Case ------------*/

		.case-photos {
			width: 100%;
			height: 30em;
			object-fit: cover;
			margin-top: 6em;
		}

		.case-block {
			max-width: 40em;
			margin: 0 auto;
		}

		.case-block p {
			max-width: 35em;
			margin: 1.2em auto 0;
		}

		/*------------ Desktop Contact ------------*/

		.contact-form button:hover {
			background-color: #1cb388;
			transform: scale(1.1);
			transition: all 0.6s ease;
		}

		/*------------ Desktop Porfolio ------------*/

		.project-block p {
			font-size: 1.3em;
		}
	
	}


}